<div class="container mt-5">
    <h2>Admin správa</h2>
    <div class="pills">
        <tabset type="pills">
            <tab heading="Studenti" id="tab1" customClass="customClass">
                <app-studenti-admin></app-studenti-admin>
            </tab>
            <tab heading="Diskuze" customClass="customClass">
                <app-diskuze-admin></app-diskuze-admin>
            </tab>
            <tab heading="Komentáře" customClass="customClass">
                <app-komentare-admin></app-komentare-admin>
            </tab>
            <tab heading="Hodnocení" customClass="customClass">
                <app-hodnoceni-admin></app-hodnoceni-admin>
            </tab>
            <tab heading="Materiály" customClass="customClass">
                <app-materialy-admin></app-materialy-admin>
            </tab>
            <tab heading="Předměty" customClass="customClass">
                <app-predmety-admin></app-predmety-admin>
            </tab>
        </tabset>
    </div>
</div>