<div class="container mt-5">
    <h2>Admin správa</h2>
    <div class="pills">
        <tabset type="pills">
            <tab heading="Studenti" id="tab1">
                <app-studenti-admin></app-studenti-admin>
            </tab>
            <tab heading="Diskuze">
                <app-diskuze-admin></app-diskuze-admin>
            </tab>
            <tab heading="Komentáře">
                <app-komentare-admin></app-komentare-admin>
            </tab>
            <tab heading="Hodnocení">
                <app-hodnoceni-admin></app-hodnoceni-admin>
            </tab>
            <tab heading="Materiály">
                <app-materialy-admin></app-materialy-admin>
            </tab>
        </tabset>
    </div>
</div>