<div class="container mt-3">
    <a class="btn btn-secondary btn-rounded rounded-pill mr-2 mb-3" routerLink="..">Zpět</a>
    <div class="container mt-3">
        <form #form="ngForm" class="form-inline mb-3 d-flex justify-content-center" (ngSubmit)="filter()" autocomplete="off">    
            <div class="form-group px-2">
                <label>Název: </label>
                <input type="text" class="form-control rounded-item ml-1" style="width: 130px;" name="nazev" 
                    [(ngModel)]="predmetyParams.nazev">
            </div>

            <div class="form-group px-2">
                <label>Zkratka katedry: </label>
                <input type="text" class="form-control rounded-item ml-1" style="width: 130px;" name="katedra" 
                    [(ngModel)]="predmetyParams.katedra">
            </div>

            <div class="form-group px-2">
                <label>Zkratka předmětu: </label>
                <input type="text" class="form-control rounded-item ml-1" style="width: 130px;" name="zkratka" 
                    [(ngModel)]="predmetyParams.zkratka">
            </div>
    
            <button class="btn btn-primary btn-rounded rounded-pill ml-1" type="submit">Filtrovat</button>
            <button (click)="resetFilters()" class="btn btn-info btn-rounded rounded-pill ml-1" type="submit">Zrušit filtr</button>

        </form>

    <hr>
    </div>
    <div class="list-group rounded-item mb-5">
        <div *ngFor="let predmet of predmety" class="a list-group-item rounded-item list-effect" [ngClass]="{'added cent':predmetyPridany?.includes(predmet)}">         
            <div class="nazev-rocnik" [ngClass]="{'hid':predmetyPridany?.includes(predmet)}">
                {{predmet.nazev}}
                <p>katedra: {{predmet.katedra}} | zkratka predmetu: {{predmet.zkratka}}</p>                 
            </div>
            <div>
                <p [ngClass]="predmetyPridany?.includes(predmet) ? 'vis' : 'unv' ">Přidán</p>
            </div>
            <span [ngClass]="predmetyPridany?.includes(predmet) ? 'unv' : 'vis' ">
                <button (click)='addPredmet(predmet)' class="btn btn-success btn-rounded rounded-pill" [ngClass]="{'hid':predmetyPridany?.includes(predmet)}">Přidat</button>
            </span>
        </div> 
    </div>

    <div class="d-flex justify-content-center" *ngIf="pagination && predmety.length != 0">
        <pagination 
            [maxSize]="5"
            [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;">            
        </pagination>
    </div>
    <p class="prvni" *ngIf="predmety?.length == 0">Žádný předmět neodpovídá filtrům.</p>
</div>
