/* You can add global styles to this file, and also import other style files */

@use '../scss/custom';
@use '../scss/components/buttons';


body {
    background-color: rgb(243, 243, 243);
}

.prvni {
  text-align: center;
  font-size: 1.6em;
  font-weight: 600;
  margin-top: 2em;
}

.pridat {
  font-size: 1.6em;
  font-weight: 600;
  margin-top: 1.5em;
}