<div class="container mt-2 mb-5">
    <div class="form">
    <div *ngIf="topics != null">
        <div *ngIf="predmet == null">
            <h2>Obecná diskuze</h2>
        </div>
            <p class="pridat">Přidat téma:</p>
            <form [formGroup]='diskuzeForm' (ngSubmit)="validateBeforeSubmit()" autocomplete="off">
                <div class="row">
                    <div class="form-group col-10">
                        <input
                        [class.is-invalid]='diskuzeForm.get("topicName").errors && diskuzeForm.get("topicName").touched'
                        type="text" class="form-control" formControlName="topicName" placeholder="nové téma" required >
                        <div *ngIf="diskuzeForm.get('topicName').hasError('required')"
                        class="invalid-feedback">Prosím vyplňte název tématu.</div>
                        <div *ngIf="diskuzeForm.get('topicName').hasError('maxlength')"
                        class="invalid-feedback">Název materiálu může mít maximálně 200 znaků.</div>
                    </div>
                    <div class="form-group col-md-auto">
                        <button class="btn btn-success mr-2" type="submit">Přidat</button>
                    </div>
                </div>       
            </form>
        </div>

        <hr>

        <div class="d-flex mb-2">
            <button (click)="filterToggle()" class="btn btn-outline-secondary" type="submit">{{filtersToggleText}}</button>
        </div>

        <form *ngIf="filtersToggle" #form="ngForm" class="form-inline mb-3 d-flex justify-content-center" (ngSubmit)="loadTopics()" autocomplete="off">    
            <div class="form-group px-2">
                <label>Název: </label>
                <input type="text" class="form-control ml-1" style="width: 130px;" name="nazev" 
                    [(ngModel)]="topicParams.nazev">
            </div>
    
            <div class="form-group px-2">
                <label>Jméno studenta: </label>
                <input type="text" class="form-control ml-1" style="width: 130px;" name="jmeno" 
                    [(ngModel)]="topicParams.student">
            </div>
    
            <div>
                <button class="btn btn-primary ml-1" type="submit">Filtrovat</button>
                <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Zrušit filtr</button>
            </div>            
    
        </form>
        
        <div *ngIf="topics?.length > 0">
            <div class="list-group">
                <div *ngFor="let topic of topics" class="list-group-item-action list-group-item border">
                    <a [routerLink]="topic.id">
                        <div class="nazev-rocnik">
                            {{topic.name}}
                            <p>Vytvořil: {{topic.studentName}} - {{topic.created}} | Počet komentářů: {{topic.comments.length}} | Poslední komentář: {{topic.comments[0] && topic.comments[0].created || "zatím nepřidán"}}</p>
                        </div>
                    </a>
                    <div *ngIf="topic.studentName == student.name">
                        <button (click)='deleteTopic(topic.id)' type="button" class="btn btn-danger">Smazat</button>
                    </div>
                </div>  
            </div>

            <div class="d-flex justify-content-center mt-4">
                <pagination 
                    [maxSize]="5"
                    [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;"> 
                </pagination>
            </div>            
        </div>
        <div class="prvni" *ngIf="topics?.length == 0 && pagination.allItems == 0">
            <p>Buďte první kdo přidá téma v této diskuzi.</p>
        </div>
        <div class="prvni" *ngIf="topics?.length == 0 && pagination.allItems > 0">
            <p>Žádné téma neodpovídá filtrům.</p>
        </div>
    </div>
</div>


