.list-group {
  grid-gap: 1rem;
}

a {      
  border: 30px;
  color: black;
}

a:hover {
  text-decoration: none;
}

span {
    float: right;
    padding: .7em;
    color: rgb(255, 255, 255);
}

.nazev-rocnik {
    word-wrap: break-word;
}

.nazev {
  font-size: 1.3em;
  font-weight: 500;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.topic {
  padding-left: 35px;
  padding-right: 35px;
}
