li {
    word-wrap: break-word;
    margin-top: 0.5em;
}

ul {
    padding: 0;
}

form {
    margin-top: 2em;
    margin-bottom: .3em;
}

textarea{
    outline: none;
    resize: none;
    height: 7em;
}

.komentar {
    font-weight: 500;
    font-size: 1.2em;
}

.info {
    font-size: .9em;
}

h5 {
    margin-top: 3em;
}

.list-group {
    margin-top: 3em;
}

h2 {
    font-size: 2em;
}