li {
    word-wrap: break-word;
    margin-top: 0.5em;
}

ul {
    padding: 0;
}

form {
    margin-top: 2em;
    margin-bottom: .3em;
}

textarea{
    outline: none;
    resize: none;
    height: 7em;
}

.komentar {
    font-weight: 500;
    font-size: 1.2em;
}

h2 {
    margin-bottom: 1em;
}

.upravit{
    margin-right: 1em;
}

.like{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
}

.col-10{
    padding-left: 0;
}

.row { 
    margin-left: 0;
    margin-right: 0;
}

.likeCount {
    font-weight: 500;
    font-size: 1.5em;
    vertical-align: middle;
}

.odpovedet {
    padding-right: 0;
}