<div class="container mt-5">
    <div *ngIf="topic !=null">
        <a class="btn btn-secondary mr-2 mb-3" routerLink="..">Zpět</a>
        <h2>{{topic.name}}</h2>

        <div class="d-flex justify-content-between">
            <div class="d-flex mb-2">
                <button (click)="filterToggle()" class="btn btn-outline-secondary" type="submit">{{filtersToggleText}}</button>
            </div>
        
            <div class="btn-group float-right mb-2">
                <button type="button" class="btn btn-secondary" name='orderBy' (click)="loadComments()" btnRadio='datum' [(ngModel)]="commentParams.orderBy">Datum</button>
                <button type="button" class="btn btn-secondary" name='orderBy' (click)="loadComments()" btnRadio='oblibenost' [(ngModel)]="commentParams.orderBy">Oblíbenost</button>
                <button type="button" class="btn btn-secondary" name='orderBy' (click)="loadComments()" btnRadio='odpovedi' [(ngModel)]="commentParams.orderBy">Odpovědi</button>
            </div>
        </div>

        <form *ngIf="filtersToggle" #form="ngForm" class="form-inline d-flex justify-content-center mt-1" (ngSubmit)="loadComments()" autocomplete="off">    
            <div class="form-group px-2">
                <label>Text: </label>
                <input type="text" class="form-control ml-1" style="width: 130px;" name="nazev" 
                    [(ngModel)]="commentParams.nazev">
            </div>
    
            <div class="form-group px-2">
                <label>Jméno studenta: </label>
                <input type="text" class="form-control ml-1" style="width: 130px;" name="jmeno" 
                    [(ngModel)]="commentParams.student">
            </div>
    
            <div>
                <button class="btn btn-primary ml-1" type="submit">Filtrovat</button>
                <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Zrušit filtr</button>
            </div>            
    
        </form>
        
        <div *ngIf="pagedComments?.length > 0">
            <div class="list-group mt-0">
                <ul *ngFor="let comment of pagedComments" >
                    <li class="list-group-item border">
                        <div *ngIf="this.idIsEditing != comment.id" class="koment">
                            <div class="container">
                                <div class="row">
                                    <div class="col-10">
                                        <p class="komentar">{{comment.text}}</p>
                                    </div>
                                    <div class="likeCount col-sm d-flex justify-content-end">
                                        <p>{{comment.studentsLikedBy.length}}</p>
                                        <button class="like btn btn-light" (click)="likeOrRemoveLike(comment.id)"><i *ngIf="commentsLiked.includes(comment.id)" class="fas fa-heart"></i>
                                            <i *ngIf="!commentsLiked.includes(comment.id)" class="far fa-heart"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="pl-0 col-sm">
                                        <p class="info">{{comment.studentName}} - {{comment.created}}</p>
                                    </div>
                                    <div class="col-sm d-flex justify-content-end">
                                        <button *ngIf="this.commentIdIsReplying != comment.id" class="btn btn-primary mr-1" (click)='reply(comment.id)' type="button">
                                            Odpovědět
                                        </button>
                                        <button *ngIf="comment.replies && comment.replies.length > 0 && commentIdRepliesShown != comment.id" class="btn btn-primary" (click)='commentIdRepliesShown = comment.id' type="button">
                                            Zobrazit odpovědi
                                        </button>
                                    </div>                                    
                                </div>
                                <div class="row" *ngIf="comment.studentName == student.name">
                                    <button (click)='editComment(comment.id, comment.text)' type="button" class="upravit btn btn-primary">Upravit</button>
                                    <button (click)='deleteComment(topic.id, comment.id)' type="button" class="btn btn-danger">Smazat</button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="this.idIsEditing == comment.id" class="editace">
                            <form [formGroup]='editForm' ngNativeValidate (ngSubmit)="saveEdit(topic.id, comment.id)" autocomplete="off">
                                <div class="form-group">
                                    <textarea
                                    type="text" class="form-control" formControlName='text' [(ngModel)]='textIsEditing'></textarea>
                                </div>
                
                                <div class="button">
                                    <button class="btn btn-info mr-2" (click)='cancelEdit()' type="button">Zrušit</button>
                                    <button [disabled]='!editForm.valid' class="btn btn-success mr-2" type="submit">Uložit</button>
                                </div>
                            </form>
                        </div>

                        <div *ngIf="this.commentIdIsReplying == comment.id" class="reply">
                            <form [formGroup]='replyForm' ngNativeValidate (ngSubmit)="postReply(comment.id)" autocomplete="off">
                                <div class="form-group">
                                    <textarea
                                    type="text" class="form-control" formControlName='text' [(ngModel)]='textIsReplying'></textarea>
                                </div>
                
                                <div class="button">
                                    <button class="btn btn-info mr-2" (click)='cancelReplying()' type="button">Zrušit</button>
                                    <button [disabled]='!replyForm.valid' class="btn btn-success mr-2" type="submit">Uložit</button>
                                </div>
                            </form>
                        </div>    
                    </li>
                    
                    <!-- Replies -->
                    <div class="list-group mt-0 ml-5" *ngIf="commentIdRepliesShown == comment.id">
                        <ul *ngFor="let reply of comment.replies" >
                            <li class="list-group-item border">
                                
                                <div class="container" *ngIf="this.idReplyIsEditing != reply.id">
                                    <div class="row">
                                        <p class="komentar">{{reply.text}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="info">{{reply.studentName}} - {{reply.created}}</p>
                                    </div>
                                    <div class="row" *ngIf="comment.studentName == student.name">
                                        <button (click)='editReply(reply.id, reply.text)' type="button" class="btn btn-primary upravit">Upravit</button>
                                        <button (click)='deleteReply(reply.id)' type="button" class="btn btn-danger">Smazat</button>
                                    </div>
                                </div>

                                <div *ngIf="this.idReplyIsEditing == reply.id" class="editace">
                                    <form [formGroup]='editReplyForm' ngNativeValidate (ngSubmit)="saveEditReply(reply.id)" autocomplete="off">
                                        <div class="form-group">
                                            <textarea
                                            type="text" class="form-control" formControlName='text' [(ngModel)]='textReplyIsEditing'></textarea>
                                        </div>
                        
                                        <div class="button">
                                            <button class="btn btn-info mr-2" (click)='cancelReplyEdit()' type="button">Zrušit</button>
                                            <button [disabled]='!editReplyForm.valid' class="btn btn-success mr-2" type="submit">Uložit</button>
                                        </div>
                                    </form>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="row justify-content-center">
                        <button *ngIf="commentIdRepliesShown == comment.id" class="btn btn-primary mt-1" (click)='commentIdRepliesShown = NaN' type="button">
                            Skrýt odpovědi
                        </button>
                    </div>                    

                </ul>
            </div>

            <div class="d-flex justify-content-center mt-4">
                <pagination 
                    [maxSize]="5"
                    [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;"> 
                </pagination>
            </div> 
        </div>
        <div class="prvni" *ngIf="pagedComments?.length == 0 && pagination.allItems == 0">
            <p>Buďte první kdo přidá odpověď.</p>
        </div>
        <div class="prvni" *ngIf="pagedComments?.length == 0 && pagination.allItems > 0">
            <p>Žádný komentář neodpovídá filtrům.</p>
        </div>
        <h5>Přidat komentář:</h5>
        <div class="form">
            <form [formGroup]='commentForm' ngNativeValidate (ngSubmit)="postComment()" autocomplete="off">
                <div class="row">
                    <div class="form-group col-10">                        
                        <textarea
                        class="form-control" formControlName='text'
                        placeholder="odpověď" ></textarea>
                    </div>
                    <div class="form-group col-md-auto">
                        <button [disabled]='!commentForm.valid' class="btn btn-success mr-2" type="submit">Odpovědět</button>
                    </div>
                </div>       
            </form>
        </div>
    </div>
</div>



