<div class="container mt-5">
    <div *ngIf="comments">

        <form #form="ngForm" class="form-inline mb-3 d-flex justify-content-center" (ngSubmit)="filter()" autocomplete="off">    
            <div class="form-group px-2">
                <label>Text: </label>
                <input type="text" class="form-control ml-1 rounded-item" style="width: 130px;" name="text" 
                    [(ngModel)]="commentParams.nazev">
            </div>
    
            <div class="form-group px-2">
                <label>Jméno studenta: </label>
                <input type="text" class="form-control ml-1 rounded-item" style="width: 130px;" name="jmeno" 
                    [(ngModel)]="commentParams.student">
            </div>

            <div class="form-group px-2">
                <label>Název tématu: </label>
                <input type="text" class="form-control ml-1 rounded-item" style="width: 130px;" name="tema" 
                    [(ngModel)]="commentParams.tema">
            </div>
    
            <div>
                <button class="btn btn-primary ml-1 btn-rounded rounded-pill" type="submit">Filtrovat</button>
                <button (click)="resetFilters()" class="btn btn-info ml-1 btn-rounded rounded-pill" type="submit">Zrušit filtr</button>
            </div>            
    
        </form>

        <div class="list-group">
            <ul *ngFor="let comment of comments" class="rounded-item">
                <li class="list-group-item rounded-item list-effect">
                    <div>
                        <div class="koment">
                            <p class="komentar">{{comment.text}}</p>
                            <p class="info">Vytvořil: {{comment.accountName}} - {{comment.created}} | Téma: {{comment.topic.name}}</p>
                        </div>
                        <button (click)='deleteComment(comment.id)' type="button" class="btn btn-dark btn-light-info rounded-pill">Smazat</button>
                        <button *ngIf="comment.replies && comment.replies.length > 0 && commentIdRepliesShown != comment.id" class="btn btn-dark btn-light-info rounded-pill ml-2" (click)='commentIdRepliesShown = comment.id' type="button">
                            Zobrazit odpovědi
                        </button>
                    </div>                                          
                </li>

                <div class="list-group mt-0 ml-5" *ngIf="commentIdRepliesShown == comment.id">
                    <ul *ngFor="let reply of comment.replies" class="rounded-item" >
                        <li class="list-group-item list-effect rounded-item">
                            
                            <div class="container">
                                <div class="row">
                                    <p class="komentar">{{reply.text}}</p>
                                </div>
                                <div class="row">
                                    <p class="info" *ngIf="reply.edited == null">{{reply.accountName}} - {{reply.created}} </p>
                                    <p class="info" *ngIf="reply.edited">{{reply.accountName}} - {{reply.created}} | Upraveno: {{reply.edited}}</p>
                                </div>
                                <div class="row">
                                    <button (click)='deleteReply(reply.id)' type="button" class="btn btn-dark btn-light-info rounded-pill">Smazat</button>
                                </div>
                            </div>                              
                        </li>
                    </ul>
                </div>
                <div class="row justify-content-center">
                    <button *ngIf="commentIdRepliesShown == comment.id && comment.replies.length > 0" class="btn mt-1 btn-dark btn-light-info rounded-pill" (click)='commentIdRepliesShown = NaN' type="button">
                        Skrýt odpovědi
                    </button>
                </div>

            </ul>
        </div>

        <div class="d-flex justify-content-center" *ngIf="pagination && comments.length != 0">
            <pagination 
                [maxSize]="5"
                [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;" 
                lastText="&raquo;">            
            </pagination>
        </div>
    </div>
    <div class="prvni" *ngIf="comments?.length == 0 && pagination.allItems == 0">
        <p>V aplikaci se nenachází žádné komentáře.</p>
    </div>
    <div class="prvni" *ngIf="comments?.length == 0 && pagination.allItems > 0">
        <p>Žádný komentář neodpovídá filtrům.</p>
    </div>
</div>

