<div class="main-container container mt-1">
    <div *ngIf="hodnoceni != null">

        <div *ngIf="cislo != null && cislo > 0" class="ohodnoceni">
            <p>{{cislo}}/10</p>
        </div>
        <p class="pridat">Přidat hodnocení:</p>
        <div class="form mt-0 mb-0">
            <form [formGroup]='hodnoceniForm' ngNativeValidate (ngSubmit)="validateBeforeSubmit()" autocomplete="off">
                <div class="form-group">
                    <textarea
                    type="text" class="rounded-item form-control" formControlName='text' placeholder="názor (nepovinné)"></textarea>
                </div>

                <select
                [class.is-invalid]='hodnoceniForm.get("cislo").errors && hodnoceniForm.get("cislo").touched'
                class="rounded-item custom-select" formControlName="cislo">
                    <option disabled hidden value="">vyberte ohodnocení</option>
                    <option *ngFor="let cislo of cisla">
                      {{cislo}}
                    </option>
                </select>
                <div *ngIf="hodnoceniForm.get('cislo').hasError('required')" class="invalid-feedback">Prosím vyplňte číselné hodnocení.</div>

                <div class="button">
                    <button class="btn btn-success mr-2 btn-rounded rounded-pill" type="submit">Hodnotit</button>
                </div>
            </form>
        </div>
    
        <div class="d-flex justify-content-between">     
            <div class="btn-group float-right">
                <button type="button" class="btn btn-secondary btn-rounded btn-left" name='orderBy' (click)="loadHodnoceni()" btnRadio='datum' [(ngModel)]="hodnoceniParams.orderBy">Datum</button>
                <button type="button" class="btn btn-secondary btn-rounded" name='orderBy' (click)="loadHodnoceni()" btnRadio='ohodnoceni' [(ngModel)]="hodnoceniParams.orderBy">Ohodnocení</button>
                <button type="button" class="btn btn-secondary btn-rounded btn-right" name='orderBy' (click)="loadHodnoceni()" btnRadio='oblibenost' [(ngModel)]="hodnoceniParams.orderBy">Oblíbenost</button>
            </div>
        </div>

        <div *ngIf="hodnoceni.length > 0">
            <div class="rounded-item">
                <ul class="list-group rounded-item">
                    <ng-container *ngFor="let comment of hodnoceni">
                        <ng-template #template>
                            <div class="modal-body text-center">
                              <p>Opravdu chcete smazat toto hodnocení?</p>
                              <button type="button" class="btn btn-dark mr-2 btn-rounded rounded-pill" (click)="decline()">Zrušit</button>
                              <button type="button" class="btn btn-danger btn-rounded rounded-pill" (click)="deleteRating(comment.id)" >Smazat</button>
                            </div>
                        </ng-template>
                         <li  class="hodnoceni list-group-item list-effect rounded-item"> <!-- *ngIf="comment.text.length != 0" -->
                            <div *ngIf="this.idIsEditing != comment.id" class="koment">
                                <div class="row">
                                    <div class="col-10">
                                        <p *ngIf="showRating != comment.id && comment.text.length > 150" class="komentar">{{comment.text.substring(0,150)}} ...</p>
                                        <p *ngIf="showRating == comment.id || comment.text.length <= 150" class="komentar">{{comment.text}}</p>
                                        <div class="text-center">
                                            <button *ngIf="showRating != comment.id && comment.text.length > 150" (click)='showRating = comment.id' type="button" class="btn btn-dark btn-light-info rounded-pill">Celé hodnocení</button>
                                            <button *ngIf="showRating == comment.id" (click)='showRating = NaN' type="button" class="btn btn-dark btn-light-info rounded-pill">Skrýt hodnocení</button>
                                        </div>
                                    </div>
                                    <div class="likeCount col-sm d-flex justify-content-end">
                                        <p class="mr-1">{{comment.studentsLikedBy.length}}</p>
                                        <button class="like btn btn-light rounded-pill" (click)="likeOrRemoveLike(comment.id)"><i *ngIf="hodnoceniLiked.includes(comment.id)" class="fas fa-heart"></i>
                                            <i *ngIf="!hodnoceniLiked.includes(comment.id)" class="far fa-heart"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="komentar">{{comment.rating}}/10</p>
                                </div>
                                <div class="row">
                                    <p class="info" *ngIf="comment.edited == null">Vytvořeno: {{comment.created}} </p>
                                    <p class="info" *ngIf="comment.edited">Vytvořeno: {{comment.created}} | Upraveno: {{comment.edited}}</p>
                                </div>
                                <div class="row" *ngIf="comment.studentName == student.name">
                                    <button (click)='editRating(comment.id, comment.text)' type="button" class="btn btn-dark btn-light-info rounded-pill mr-2 mt-0">Upravit</button>
                                    <button (click)='openModalRating(template)' type="button" class="btn btn-dark btn-light-info rounded-pill mt-0">Smazat</button>
                                </div>
                            </div>

                            <div *ngIf="this.idIsEditing == comment.id" class="editace">
                                <form [formGroup]='editForm' ngNativeValidate (ngSubmit)="saveEdit(comment.id)" autocomplete="off">
                                    <div class="form-group">
                                        <textarea
                                        type="text" class="rounded-item form-control" formControlName='text' [(ngModel)]='textIsEditing'></textarea>
                                    </div>
                    
                                    <div class="button">
                                        <button class="btn btn-info mr-2 btn-rounded rounded-pill" (click)='cancelEdit()' type="button">Zrušit</button>
                                        <button class="btn btn-success mr-2 btn-rounded rounded-pill" type="submit">Uložit</button>
                                    </div>
                                </form>
                            </div>                            
                        </li>  
                    </ng-container>
                </ul>
            </div>

            <div class="d-flex justify-content-center mt-4">
                <pagination 
                    [maxSize]="5"
                    [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;"> 
                </pagination>
            </div>
        </div>
        <div class="prvni" *ngIf="hodnoceni?.length == 0 && pagination.allItems == 0">
            <p>Buďte první kdo přidá hodnocení. 1 - nejhorší, 10 - nejlepší</p>
        </div>
        <div class="prvni" *ngIf="hodnoceni?.length == 0 && pagination.allItems > 0">
            <p>Žádné hodnocení neodpovídá filtrům.</p>
        </div>
    </div>
    
</div>

