<div class="container mt-5">
    <div *ngIf="hodnoceni != null">

        <div *ngIf="cislo != null && cislo > 0" class="ohodnoceni">
            <p>{{cislo}}/10</p>
        </div>
    
        <div class="form">
            <form [formGroup]='hodnoceniForm' ngNativeValidate (ngSubmit)="validateBeforeSubmit()" autocomplete="off">
                <div class="form-group">
                    <textarea
                    type="text" class="form-control" formControlName='text' placeholder="názor (nepovinné)"></textarea>
                </div>

                <select
                [class.is-invalid]='hodnoceniForm.get("cislo").errors && hodnoceniForm.get("cislo").touched'
                class="custom-select" formControlName="cislo">
                    <option disabled hidden value="">vyberte ohodnocení</option>
                    <option *ngFor="let cislo of cisla">
                      {{cislo}}
                    </option>
                </select>
                <div *ngIf="hodnoceniForm.get('cislo').hasError('required')" class="invalid-feedback">Prosím vyplňte číselné hodnocení.</div>

                <div class="button">
                    <button class="btn btn-success mr-2" type="submit">Hodnotit</button>
                </div>
            </form>
        </div>
    
        <div *ngIf="hodnoceni.length > 0">
            <div class="list-group">
                <ul>
                    <ng-container *ngFor="let comment of hodnoceni.reverse()">
                        <li *ngIf="comment.text.length != 0" class="list-group-item border">
                            <p class="komentar">{{comment.text}}</p>
                            <p class="info">{{comment.created}}</p>
                            <div *ngIf="comment.studentName == student.name">
                                <button (click)='deleteRating(comment.id)' type="button" class="btn btn-danger">Smazat</button>
                            </div>
                        </li>  
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="prvni" *ngIf="hodnoceni.length == 0">
            <p>Buďte první kdo přidá hodnocení.</p>
        </div>
    </div>
    
</div>

