li {
    word-wrap: break-word;
    margin-top: 0.5em;
}

ul {
    padding: 0;
}

.form {
    margin-top: 2em;
    margin-bottom: 2em;
}

.ohodnoceni {
    text-align: center;
    font-size: 5em;
    font-weight: 800;
}

button {
    margin-top: 1em;
}

.button {
    text-align: right;
}

.komentar {
    font-weight: 500;
    font-size: 1.2em;
}

.info {
    font-size: .9em;
}

.prvni p {
    font-size: 1.6em;
    font-weight: 600;
}

textarea{
    outline: none;
    resize: none;
    height: 7em;
}

.btn-primary{
    margin-right: 1em;
}

.pridat {
    font-size: 1.6em;
    font-weight: 600;
  }

  .like{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    margin-top: 0;
}

.col-10{
    padding-left: 0;
}

.likeCount {
    font-weight: 500;
    font-size: 1.5em;
    vertical-align: middle;
}
