<div class="mt-3 registrace">
    <div *ngIf="!registerMode" style='text-align: center;'>
        <h1>Vítejte na studentském portálu.</h1>
        <div class="text-center">
            <button (click)='registerToggle()' class="btn btn-primary btn-lg mr-2">Registrovat</button>
        </div>       
    </div>

    <div *ngIf="registerMode">
        <div class="row justify-content-center">
            <div class="col-5">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>