h1 {
    margin-bottom: 1em;
}

.main {
    margin-top: 7em;
}

.main-info {
    font-size: 1.4em;
}


@media only screen and (min-width: 1200px) {
    img{
        height: 28em;
    }
  }


  @media only screen and (max-width: 767px) {
    .row {
        justify-content: center;
    }

    img {
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
    }
  }
