<div class="container main">
    <div class="row">
        <div class="col mr-5">
        <div *ngIf="!registerMode">
            <h1>Vítejte na studentském portálu</h1>
            <p class="main-info">Sdílejte své studijní materiály. Hodnoťte předměty. Zapojte se do diskuzí o předmětech.</p>       
            <div class="mt-4">
                <button (click)='registerToggle()' class="btn btn-primary btn-lg rounded-pill btn-rounded">Registrovat</button>
            </div>
        </div>
    
        <div *ngIf="registerMode">
            <div class="row justify-content-start">
                <div class="col-8">
                    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                </div>
            </div>
        </div>
        </div>
        <div class="col d-flex justify-content-end">
        <img src="assets/MainPageImage.svg" alt="Ilustrace studenta"/>
        </div>
    </div>
    </div>
