<div class="container mt-5">
    <button *ngIf="pred && pred.statut == null" class="btn btn-danger mr-2 float-right" (click)='removePredmet()'>Odebrat</button>
    <h2>{{predmetNazev}}</h2>
    <div class="pills">
        <tabset type="pills">
            <tab heading="Materiály" id="tab1">
                <app-materialy *ngIf="predmet" [predmet]="predmet"></app-materialy>
            </tab>
            <tab heading="Diskuze">
                <app-diskuze *ngIf="predmet" [predmet]="predmet"></app-diskuze>
            </tab>
            <tab heading="Hodnocení">
                <app-hodnoceni *ngIf="predmet" [predmet]="predmet"></app-hodnoceni>
            </tab>
        </tabset>
    </div>
</div>
