<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary mt-5">Registrace</h2>
    <hr>
    <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("name").errors && registerForm.get("name").touched'
        type="text" class="form-control" formControlName='name' placeholder="jméno">
        <div class="invalid-feedback">Prosím vyplňte jméno.</div>
    </div>
    <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("password").errors && registerForm.get("password").touched'
        type="password" class="form-control" formControlName='password' placeholder="heslo">
        <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Prosím vyplňte heslo.</div>
        <div *ngIf="registerForm.get('password').hasError('pattern')" class="invalid-feedback">Heslo musí obsahovat alespoň 1 číslici.</div>
        <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">Heslo musí mít 6 znaků a více.</div>
    </div>
    <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("confirmPassword").errors && registerForm.get("confirmPassword").touched'
        type="password" class="form-control" formControlName='confirmPassword' placeholder="kontrola hesla">
        <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">Prosím vyplňte kontrolu hesla.</div>
        <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback">Musí být stejné jako heslo.</div>   
    </div>
    <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("upolNumber").errors && registerForm.get("upolNumber").touched'
        type="text" class="form-control" formControlName='upolNumber' placeholder="osobní číslo (např. R18140)">
        <div *ngIf="registerForm.get('upolNumber').hasError('required')" class="invalid-feedback">Prosím vyplňte své osobní číslo.</div>
    </div>
    <div class="form-group text-center">
        <button [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit">Registrovat</button>
        <button class="btn btn-success mr-2" (click)="cancel()" type="button">Zrušit</button>
    </div>
</form>
<p class='attention'>pro registraci je nutné být ve vnitřní síti UP a mít spuštěný webový prohlížeč bez CORS</p>
<a class='attention' href="https://github.com/jakubreznak/StudentPortal/blob/master/CORSdisable.md">Klikněte zde pro návod na spuštění webového prohlížeče bez CORS</a>
<p>* osobní číslo naleznete na stránce STAGu po přihlášení v sekci Moje studium</p>
