<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary mt-5">Registrace</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="name"
        [(ngModel)]="model.name" placeholder="jméno">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="password"
        [(ngModel)]="model.password" placeholder="heslo">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="upolNumber"
        [(ngModel)]="model.upolNumber" placeholder="identifikační číslo (např. R18140)">
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Registrovat</button>
        <button class="btn btn-success mr-2" (click)="cancel()" type="button">Zrušit</button>
    </div>
</form>
