<div class="container mt-5 mb-5">
    <h2>Upravit profil</h2>
        
        <div class="form">
            <form [formGroup]='profileForm' (ngSubmit)="validateBeforeSubmit()" autocomplete="off">
                <div class="row">
                    <div class="form-group col-10">
                        <input
                        [class.is-invalid]='profileForm.get("idNumber").errors && profileForm.get("idNumber").touched'
                        type="text" class="form-control" formControlName="idNumber" placeholder="nové osobní číslo" required >
                        <div *ngIf="profileForm.get('idNumber').hasError('required')" class="invalid-feedback">Prosím vyplňte nové osobní číslo.</div>
                        <div *ngIf="profileForm.get('idNumber').hasError('pattern')" class="invalid-feedback">Musí být ve tvaru A12345 (písmeno a 5 čísel).</div>
                    </div>
                    <div class="form-group col-md-auto">
                        <button class="btn btn-success mr-2" type="submit">Změnit</button>
                    </div>
                </div>       
            </form>
        </div>
</div>