<div class="container mt-5">
    
    <div class="container mt-3">
        <form #form="ngForm" class="form-inline mb-3 d-flex justify-content-center" (ngSubmit)="getStudents()" autocomplete="off">    
            <div class="form-group px-2">
                <label>Jméno: </label>
                <input type="text" class="form-control ml-1" style="width: 130px;" name="nazev" 
                    [(ngModel)]="studentsParams.nazev">
            </div>
    
            <div>
                <button class="btn btn-primary ml-1" type="submit">Filtrovat</button>
                <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Zrušit filtr</button>
            </div>            

        </form>

    <hr>


    <div *ngIf="studentNames">
        <div class="list-group">
            <ul>
                <li *ngFor="let studentName of studentNames" class="list-group-item border">
                    <p class="komentar">{{studentName}}</p>
                    <button (click)='deleteStudent(studentName)' type="button" class="btn btn-danger">Smazat</button>
                </li>  
            </ul>
        </div>
    </div>

    <div class="d-flex justify-content-center" *ngIf="pagination && studentNames.length != 0">
        <pagination 
            [maxSize]="5"
            [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;">            
        </pagination>
    </div>
    <p class="prvni" *ngIf="studentNames?.length == 0">V aplikaci se nenachází žádný (takový) student.</p>
</div>
