<nav class="navbar navbar-expand-md navbar-dark bg-white">
    <div class="container">
        <ng-container *ngIf="accountService.currentStudent$ | async; else homeComp">
            <a class="navbar-brand" [routerLink]="'/predmety'">Student portal</a>
          </ng-container>
          
          <ng-template #homeComp>
            <a class="navbar-brand" [routerLink]="">Student portal</a>
          </ng-template>          
        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="accountService.currentStudent$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/predmety' routerLinkActive='active'>Předměty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/diskuze' routerLinkActive='active'>Diskuze</a>
                </li>
            </ng-container>
            </ul>
        <div class="dropdown" *ngIf="accountService.currentStudent$ | async as user" dropdown>
            <a class="dropdown-toggle text-dark" dropdownToggle>{{user.name}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <!--<a class="dropdown-item">Upravit profil</a> -->
                <a class="dropdown-item" (click)="logout()">Odhlásit se</a>
            </div>
        </div>

        <form *ngIf="(accountService.currentStudent$ | async) === null" [formGroup]='loginForm' class="form-inline mt-2 mt-md-0" (ngSubmit)="validateBeforeSubmit()" autocomplete="off">
            <input 
                [class.is-invalid]='loginForm.get("name").errors && loginForm.get("name").touched'
                formControlName='name'
                class="form-control mr-sm-2" 
                type="text" 
                placeholder="jméno">
            <input 
                [class.is-invalid]='loginForm.get("password").errors && loginForm.get("password").touched'
                formControlName='password'
                class="form-control mr-sm-2" 
                type="password" 
                placeholder="heslo">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Přihlásit</button>
        </form>
    </div>
</nav>