.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.form-control.is-invalid {
    padding-right: .85em;
}

.navbar-brand {
    color: black;
    font-weight: 800;
}

a {
    color: black;
}

.active {
    color: rgb(0, 0, 0);
    background: rgba(233, 233, 233, 0.7);
    border-radius: 5px;
  }