<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <ng-container *ngIf="accountService.currentStudent$ | async; else homeComp">
            <a class="navbar-brand" [routerLink]="'/predmety'">Student portal</a>
          </ng-container>
          
          <ng-template #homeComp>
            <a class="navbar-brand" [routerLink]="'/'">Student portal</a>
          </ng-template>          
        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="accountService.currentStudent$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/predmety' routerLinkActive='active'>Přeměty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Diskuze</a>
                </li>
            </ng-container>
            </ul>
        <div class="dropdown" *ngIf="accountService.currentStudent$ | async as user" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>{{user.name}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item">Upravit profil</a>
                <a class="dropdown-item" (click)="logout()">Odhlásit se</a>
            </div>
        </div>

        <form *ngIf="(accountService.currentStudent$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
            <input 
                name="name"
                [(ngModel)]="model.name"
                class="form-control mr-sm-2" 
                type="text" 
                placeholder="jméno">
            <input 
                name="password"
                [(ngModel)]="model.password"
                class="form-control mr-sm-2" 
                type="password" 
                placeholder="heslo">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Přihlásit</button>
        </form>
    </div>
</nav>