//COLOR PALETTE
$dblue: #343AC8;
$lblue: #6489F7;
$lgrey: #7a7c80;
$dgrey: #1f1f22;
$pink: #D35C7E;
$grey:rgb(224, 224, 224);

// lgrey - 434B57

$primary: $dblue;
$secondary: $lgrey;
$success: $pink;
$info:$dgrey;
$dark:$grey;

@import "../node_modules/bootstrap/scss/bootstrap.scss";