
.btn-rounded {
    position: relative;
    padding: 0.4rem 1.4rem;
}

.btn-info {
    color: white;
}

.btn-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.btn-right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.rounded-item {
    border-radius: 25px;
}

.list-effect {
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.1), 0 0.5rem 1.125rem rgba(75,0,0,0.1);
}

.btn-light-info {
    font-size: small;
    padding: 0.3rem 1.2rem;
    color: rgb(31, 31, 31);
}

.list-group-item {
    border: none;
}

.customClass .active {
    border-radius: 25px;
}

.page-item:first-child .page-link {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}