<div class="container mt-5">
    <div *ngIf="hodnoceni">

        <form #form="ngForm" class="form-inline mb-3 d-flex justify-content-center" (ngSubmit)="getHodnoceni()" autocomplete="off">    
            <div class="form-group px-2">
                <label>Text: </label>
                <input type="text" class="form-control ml-1" style="width: 130px;" name="text" 
                    [(ngModel)]="hodnoceniParams.text">
            </div>
    
            <div class="form-group px-2">
                <label>Jméno studenta: </label>
                <input type="text" class="form-control ml-1" style="width: 130px;" name="jmeno" 
                    [(ngModel)]="hodnoceniParams.student">
            </div>

            <div class="form-group px-2">
                <label>Název předmětu: </label>
                <input type="text" class="form-control ml-1" style="width: 130px;" name="predmet" 
                    [(ngModel)]="hodnoceniParams.predmet">
            </div>
    
            <div>
                <button class="btn btn-primary ml-1" type="submit">Filtrovat</button>
                <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Zrušit filtr</button>
            </div>            
    
        </form>

        <div class="list-group">
            <ul>
                <li *ngFor="let hodnoceno of hodnoceni" class="list-group-item border">
                    <div class="koment">
                        <p class="komentar">{{hodnoceno.text}}</p>
                        <p class="info">Vytvořil: {{hodnoceno.studentName}} - {{hodnoceno.created}} | Předmět: {{hodnoceno.predmet.nazev}} | Hodnoceni: {{hodnoceno.rating}}/10</p>
                    </div>
                    <button (click)='deleteHodnoceni(hodnoceno.id)' type="button" class="btn btn-danger">Smazat</button>
                </li>  
            </ul>
        </div>
        <div class="d-flex justify-content-center" *ngIf="pagination && hodnoceni.length != 0">
            <pagination 
                [maxSize]="5"
                [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;" 
                lastText="&raquo;">            
            </pagination>
        </div>
    </div>
    <div class="prvni" *ngIf="hodnoceni?.length == 0 && pagination.allItems == 0">
        <p>V aplikaci se nenachází žádné hodnocení.</p>
    </div>
    <div class="prvni" *ngIf="hodnoceni?.length == 0 && pagination.allItems > 0">
        <p>Žádné hodnocení neodpovídá filtrům.</p>
    </div>
</div>

