li {
    word-wrap: break-word;
    margin-top: 0.5em;
}

ul {
    padding: 0;
}

.komentar {
    font-weight: 500;
    font-size: 1.2em;
    color: black;
}

.nazev-rocnik {
    word-wrap: break-word;
    font-size: 0.9em;
}