<div class="container mt-5">
    <form #form="ngForm" class="form-inline mb-3 d-flex justify-content-center" (ngSubmit)="getTopics()" autocomplete="off">    
        <div class="form-group px-2">
            <label>Název: </label>
            <input type="text" class="form-control ml-1" style="width: 130px;" name="nazev" 
                [(ngModel)]="topicParams.nazev">
        </div>

        <div class="form-group px-2">
            <label>Jméno studenta: </label>
            <input type="text" class="form-control ml-1" style="width: 130px;" name="jmeno" 
                [(ngModel)]="topicParams.student">
        </div>

        <div>
            <button class="btn btn-primary ml-1" type="submit">Filtrovat</button>
            <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Zrušit filtr</button>
        </div>            

    </form>

<hr>
    <div *ngIf="topics">
        <div class="list-group">
            <ul>
                <li *ngFor="let topic of topics" class="list-group-item border">
                    <p class="komentar">{{topic.name}}</p>
                    <div class="nazev-rocnik">
                        <p>Vytvořil: {{topic.studentName}} - {{topic.created}} | Počet komentářů: {{topic.comments.length}} | Poslední komentář: {{topic.comments[0] && topic.comments[0].created || "zatím nepřidán"}}</p>
                    </div>
                    <button (click)='deleteTopic(topic.id)' type="button" class="btn btn-danger">Smazat</button>
                </li>  
            </ul>
        </div>
        <div class="d-flex justify-content-center" *ngIf="pagination && topics.length != 0">
            <pagination 
                [maxSize]="5"
                [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;" 
                lastText="&raquo;">            
            </pagination>
        </div>
    </div>
    <div class="prvni" *ngIf="topics?.length == 0 && pagination.allItems == 0">
        <p>V aplikaci se nenachází žádné diskuzní téma.</p>
    </div>
    <div class="prvni" *ngIf="topics?.length == 0 && pagination.allItems > 0">
        <p>Žádné téma neodpovídá filtrům.</p>
    </div>
</div>

