.list-group {
    width: 80%; 
	margin-left: auto; 
	margin-right: auto; 
    grid-gap: 1rem;
  }

  ul {
      padding: 0;
  }

  .hidden {
      display: none;
  }

.btn-danger{
    margin-left: 16px;
}

p {
    font-size: 1.6em;
    font-weight: 600;
    margin: 0;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.date {
    font-size: 1em;
    font-weight: 500;
}

li {
    word-wrap: break-word;
}

.button1, .button2 {
    display: inline-block;
    margin-right: .5em;
}

label{
    margin-bottom: 0;
}

.formulare{
    width: 80%;
    margin-left: auto; 
	margin-right: auto; 
}

.prvni {
    text-align: center;
  }

.like{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    font-size: 1.3em;
}

.like p{
    font-size: 1.1em;
}

.row {
    height: 3em;
}