.list-group {
    grid-gap: 1rem;
  }

  ul {
    padding: 0;
}

.hidden {
    display: none;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

li {
    word-wrap: break-word;
}

.button1, .button2 {
    display: inline-block;
    margin-right: .5em;
}

label{
    margin-bottom: 0;
}

.like{
    display: flex;
    align-content: center;
    flex-direction: row;
}

.like p {
    font-size: 1.5em;
    margin: auto;
}

.nazev p {
    font-size: 1.3em;
    font-weight: 500;
}