.list-group {
    width: 80%; 
	margin-left: auto; 
	margin-right: auto; 
    margin-top: 2em;
    grid-gap: 1rem;
  }

  ul {
      padding: 0;
  }

  .hidden {
      display: none;
  }

.nazev-stahnout {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  padding: 1em;
}

p {
    font-size: 1.6em;
    font-weight: 600;
}

.stahnout {
    text-align: center;
}

.stahnout p {
    margin-top: .7em;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.date {
    font-size: 1em;
    font-weight: 500;
}