<div class="formulare">
    <p>Přidat materiál:</p>
    <form [formGroup]='materialForm' (ngSubmit)="materialForm.valid && postMaterial()" autocomplete="off" class="mt-2 mb-1">
        <div class="form-group">
            <input [class.is-invalid]='materialForm.get("name").errors && materialForm.get("name").touched'
            type="text" formControlName="name" class="rounded-item form-control" placeholder="název studijního materiálu">
            <div *ngIf="materialForm.get('name').hasError('required')"
            class="invalid-feedback">Prosím vyplňte název studijního materiálu.</div>
            <div *ngIf="materialForm.get('name').hasError('maxlength')"
            class="invalid-feedback">Název materiálu může mít maximálně 200 znaků.</div>
        </div>
        <div class="form-group button1">
            <input 
            [class.is-invalid]='materialForm.get("file").errors && materialForm.get("file").touched' id="file" name="file"
            type="file" class="rounded-item form-control inputfile" formControlName='file' (change)="onFilesSelected($event)" multiple>
            <label class="btn btn-success btn-rounded rounded-pill" for="file">Vybrat soubor</label>
            <div *ngIf="materialForm.get('file').hasError('required')" class="invalid-feedback">Vyberte prosím soubor.</div>
        </div>
        <div class="form-group button2">
            <button [disabled]='!materialForm.valid' class="btn btn-success btn-rounded rounded-pill mr-2" type="submit">Přídat</button>
        </div>
    </form>
    <div class="d-flex justify-content-md-between flex-wrap">
        <div class="d-flex mb-2">
            <button (click)="filterToggle()" class="btn btn-outline-secondary btn-rounded rounded-pill" type="submit">{{filtersToggleText}}</button>
        </div>
    
        <div class="btn-group float-right mb-2">
            <button type="button" class="btn btn-secondary btn-rounded btn-left" name='orderBy' (click)="loadMaterials()" btnRadio='datum' [(ngModel)]="materialParams.orderBy">Datum</button>
            <button type="button" class="btn btn-secondary btn-rounded" name='orderBy' (click)="loadMaterials()" btnRadio='nazev' [(ngModel)]="materialParams.orderBy">Název</button>
            <button type="button" class="btn btn-secondary btn-rounded btn-right" name='orderBy' (click)="loadMaterials()" btnRadio='likes' [(ngModel)]="materialParams.orderBy">Oblíbenost</button>
        </div>
    </div>

    <form *ngIf="filtersToggle" #form="ngForm" class="form-inline mb-3 d-flex justify-content-center" (ngSubmit)="filter()" autocomplete="off">    
        <div class="form-group px-2">
            <label>Název: </label>
            <input type="text" class="rounded-item form-control ml-1" style="width: 130px;" name="nazev" 
                [(ngModel)]="materialParams.nazev">
        </div>
    
        <div class="form-group px-2">
            <label>Typ souboru: </label>
            <input type="text" class="rounded-item form-control ml-1" style="width: 130px;" name="typ" 
                [(ngModel)]="materialParams.typ">
        </div>
    
        <div>
            <button class="btn btn-primary ml-1 btn-rounded rounded-pill" type="submit">Filtrovat</button>
            <button (click)="resetFilters()" class="btn btn-info btn-rounded rounded-pill ml-1" type="submit">Zrušit filtr</button>
        </div>            
    
    </form>
</div>


<div *ngIf="predmet != null" class="list-group">
    

    <div class="prvni" *ngIf="pagedFiles?.length == 0 && pagination.allItems == 0">
        <p>Buďte první kdo přidá materiál k tomuto předmětu.</p>
    </div>
    <div class="prvni" *ngIf="pagedFiles?.length == 0 && pagination.allItems > 0">
        <p>Žádný materiál neodpovídá filtrům.</p>
    </div>
    
    <div *ngIf="pagedFiles && pagedFiles.length > 0">
        <ul class="rounded-item">
            <li *ngFor="let soubor of pagedFiles" class="list-group-item list-effect mt-3 rounded-item">
                <ng-template #template>
                    <div class="modal-body text-center">
                      <p>Opravdu chcete smazat tento materiál?</p>
                      <button type="button" class="btn btn-dark mr-2 btn-rounded rounded-pill" (click)="decline()">Zrušit</button>
                      <button type="button" class="btn btn-danger btn-rounded rounded-pill" (click)="deleteMaterial(soubor.id)" >Smazat</button>
                    </div>
                </ng-template>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>{{soubor.fileName}}</p>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <span class="stahnout"><a class="btn btn-success btn-rounded rounded-pill" href="{{soubor.url}}" target="_blank">Stáhnout</a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="date">Přidal: {{soubor.accountName}} | {{soubor.dateAdded}} - {{soubor.extension}}</p>
                        </div>
                        <div class="like col d-flex justify-content-end">
                            <p class="mr-1">{{soubor.studentsLikedBy.length}}</p>
                            <button class="btn btn-light btn-rounded rounded-pill" (click)="likeOrRemoveLike(soubor.id)"><i *ngIf="materialsLiked.includes(soubor.id)" class="fas fa-heart"></i>
                                <i *ngIf="!materialsLiked.includes(soubor.id)" class="far fa-heart"></i></button>
                        </div>
                    </div>
                    <div class="row" *ngIf="soubor.studentName == student.name">
                        <button (click)='openModalMaterial(template)' type="button" class="btn btn-dark btn-light-info rounded-pill">Smazat</button>
                    </div>
                </div>
            </li>  
        </ul>

        <div class="d-flex justify-content-center mt-4">
            <pagination 
                [maxSize]="5"
                [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;" 
                lastText="&raquo;"> 
            </pagination>
        </div>
    </div>
</div>
